:root {
  --his-frame-color: #ffffff;
  --his-text-color: #252525;
  --tool-icon-color: #252525d7;
  --my-frame-color: #3d6fff;
  --my-online-color: #21E489;
  --my-text-color: #ffffff;
  --border-color: #e9e9e9;
}
